<!DOCTYPE html>
<html >
  <head>
    <h1>스마트 화분 만들기</h1>
    
    
  </head>
  <body>
        <h3 align="center">센서2 목록</h3>
         <table border=2 width="600" align="center">
          <thead>
          <td align="center">기계</td>
          <td align="center">작동</td>
          <td align="center">시간</td>
          </thead>
        {% for row in rows %}
          <tr>
            <td align="center">{{ row[0] }}</td>
            <td align="center">{{ row[1] }}</td>
            <td align="center">{{ row[2] }}</td>
        
          </tr>
        {% endfor %}
        </table>
     
      
      
  </body>
</html